apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - keda # Kubernetes Event-Driven Autoscaling
  - monitoring-stack-helmrelease.yaml # Prometheus + Grafana monitoring stack
  - traefik-servicemonitor.yaml # Traefik metrics for Prometheus
