apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  # clustersecretstore.yaml - Will be synced by Flux after External Secrets Operator is ready
  # Note: This may fail initially if CRD doesn't exist, but Flux will retry
  - clustersecretstore.yaml
  - externalsecrets/
