apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - helmrelease-cloudflare.yaml
  # secret.yaml removed - now using External Secrets Operator with Vault

