apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus
      version: 25.30.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 12h
  values:
    alertmanager:
      enabled: false
    nodeExporter:
      enabled: true
    pushgateway:
      enabled: false
    server:
      persistentVolume:
        enabled: true
        size: 8Gi
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - prometheus.eldertree.local
        tls:
          - secretName: prometheus-tls
            hosts:
              - prometheus.eldertree.local
        annotations:
          cert-manager.io/cluster-issuer: selfsigned-cluster-issuer
