apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: metallb-system
spec:
  addresses:
    - 192.168.2.200-192.168.2.210
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
spec:
  ipAddressPools:
    - default
  # Specify interfaces to use for Layer 2 advertising
  # This ensures MetalLB uses the correct network interface (192.168.2.x)
  # instead of the k3s internal interface (10.0.0.x)
  # MetalLB will auto-detect interfaces, but we can also specify them explicitly
  # interfaces: []  # Empty array means use all interfaces (default behavior)
