apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: metallb-system
spec:
  addresses:
    - 192.168.2.200-192.168.2.210
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
spec:
  ipAddressPools:
    - default
  # Specify wlan0 interface to ensure MetalLB advertises on physical network
  # Nodes have InternalIPs 10.0.0.1/10.0.0.2 (k3s internal) but physical IPs
  # are on 192.168.2.0/24 via wlan0. This ensures LoadBalancer IPs (192.168.2.x)
  # are advertised on the correct network interface.
  interfaces:
    - wlan0
