---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: swimto-updates
  namespace: swimto
spec:
  interval: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: "chore(swimto): update images{{range .Changed.Changes}} {{.NewValue}}{{end}}"
    push:
      branch: main
  update:
    path: ./clusters/eldertree/swimto
    strategy: Setters

