apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - ghcr-secret-external.yaml
  - configmap.yaml
  - postgres-pvc.yaml
  - postgres-pvc-longhorn.yaml
  - postgres-deployment.yaml
  - redis-deployment.yaml
  - api-deployment.yaml
  - web-deployment.yaml
  - ingress.yaml
  - cronjob-refresh.yaml
  - facility-url-validator-cronjob.yaml
  - image-repositories.yaml
  - image-policies.yaml
  - image-update-automation.yaml
