apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deploy.yaml
  - service.yaml
  - middleware.yaml
  - ingress.yaml
  - ghcr-secret-external.yaml
  - image-automation.yaml
