apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wireguard.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "wireguard.labels" . | nindent 4 }}
data:
  wg0.conf: |
    [Interface]
    Address = {{ .Values.wireguard.serverAddress }}
    ListenPort = {{ .Values.wireguard.port }}
    PrivateKey = ${WG_PRIVATE_KEY}
    
    {{- if .Values.customScripts.enabled }}
    PostUp = iptables -A FORWARD -i wg0 -j ACCEPT
    PostUp = iptables -A FORWARD -o wg0 -j ACCEPT
    PostUp = iptables -t nat -A POSTROUTING -s 10.8.0.0/24 -d 10.42.0.0/16 -j MASQUERADE
    PostUp = iptables -t nat -A POSTROUTING -s 10.8.0.0/24 -d 10.43.0.0/16 -j MASQUERADE
    PostUp = iptables -t nat -A POSTROUTING -s 10.8.0.0/24 -d {{ (index .Values.wireguard.allowedNetworks 2) }} -j MASQUERADE
    PostDown = iptables -D FORWARD -i wg0 -j ACCEPT
    PostDown = iptables -D FORWARD -o wg0 -j ACCEPT
    PostDown = iptables -t nat -D POSTROUTING -s 10.8.0.0/24 -d 10.42.0.0/16 -j MASQUERADE
    PostDown = iptables -t nat -D POSTROUTING -s 10.8.0.0/24 -d 10.43.0.0/16 -j MASQUERADE
    PostDown = iptables -t nat -D POSTROUTING -s 10.8.0.0/24 -d {{ (index .Values.wireguard.allowedNetworks 2) }} -j MASQUERADE
    {{- end }}
    
    {{- range .Values.wireguard.peers }}
    
    # Client: {{ .name }}
    [Peer]
    PublicKey = {{ .publicKey }}
    AllowedIPs = {{ .allowedIPs }}
    {{- if .persistentKeepalive }}
    PersistentKeepalive = {{ .persistentKeepalive }}
    {{- end }}
    {{- end }}

{{- if .Values.dns.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wireguard.fullname" . }}-dns
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "wireguard.labels" . | nindent 4 }}
data:
  dnsmasq.conf: |
    # DNS configuration for k3s cluster access via WireGuard
    interface=wg0
    bind-interfaces
    
    {{- range .Values.dns.customDomains }}
    server=/{{ . }}/{{ $.Values.dns.coreDNSIP }}
    {{- end }}
    
    cache-size={{ .Values.dns.cacheSize }}
    
    {{- if .Values.dns.logQueries }}
    log-queries
    {{- end }}
{{- end }}

