apiVersion: v1
kind: Secret
metadata:
  name: {{ include "wireguard.fullname" . }}-keys
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "wireguard.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.wireguard.privateKey }}
  privatekey: {{ .Values.wireguard.privateKey | b64enc | quote }}
  {{- else }}
  # Private key will be generated on first deployment
  # To set a specific key, base64 encode it and set wireguard.privateKey in values
  privatekey: ""
  {{- end }}

