apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "pi-hole.fullname" . }}-data
  labels:
    {{- include "pi-hole.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}

