apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - ghcr-secret-external.yaml
  - cloudflare-origin-cert-external.yaml
  - helmrelease.yaml
  - image-automation.yaml
